*{
    color: grey;
}


.dashboard{
    padding: 20px;
}

.dashboard h1{
    color: grey;
}

.dashboard button{
    padding: 15px;
    font-size: 18px;
    border-radius: 20px;
    outline: grey;
}

.dashboard h1{
    padding: 15px 0px;
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card{
    background: #f46b45;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eea849, #f46b45);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eea849, #f46b45); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 200px;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    margin: 20px;
    width: 90%;
}

.card h2{
    color: aliceblue;
    font-size: 100px;
}

@media screen and (min-width:680px){
    .cards {
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
}

