.questions-header {
  text-align: center;
  font-size: 3rem;
  padding: 10px 0px 0px 0px;
}

.questions {
  padding: 10px -10px;
  background-color:#DD6E42;
  padding-bottom: 20px;
  width: 100%;
}

.question{
  padding: 20px 20px;
  color: #EAEAEA;
}

.question p{
  padding-bottom: 10px;
}
.submit input{
  width: 150px;
  padding:20px;
  text-align: center;
  border: 2px solid #4F6D7A;
  color: #4F6D7A;
  font-size: 20px;
  border-radius: 100px;
}

.score{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}